<h1>Links to other good shizzle</h1>
<p><a href="http://www.zombiehunters.org/">Hunter Training</a> AMAZING!</p> 
<p><a href="http://www.fvza.org/"> Federal Vampire and Zombie Agency></a> Because you never know...</p>

<p><a href="http://humansvszombies.org/">Humans vs Zombies</a> This is what it's all about</p>
<p><a href="http://www.allthingszombie.com/">All Things Zombie</a> Well rounded resource</p>
<p><a href="http://resourcealloyentertainment.com"›Books>Zombie Chasers (the book)</a> My son, Kyle's, best resource for Zombies</p>
<p><a href="http://www.popcap.com/games/plants-vs-zombies/home">Plants vs Zombies</a> My favorite zombie encounter></p>
<p><a href="http://http://www.amctv.com/shows/the-walking-dead">"The Walking Dead" tv show</a> Don't miss the New Year's Eve Marathon!></p>