<h1>Zombie Survival</h1>
<h3>It's a Man-Eat-Man World Out There&nbsp;</h3><h3>(well sort of...)</h3>
 <p>The world is changing, people are starting to look a little washed out, they seem more aimless that before. What should you do? RUN! Jimmy's not your lunch date anymore, your his lunch.&nbsp;</p><p>Don't take it personally. He doesn't. The Zombie invasion has begun.&nbsp;Ever since&nbsp;the opening of "Burger Dog" the masses are being converted from normal, productive, members of society to mindless, flesh-eating scavengers.&nbsp;</p>
 <p>Here s a survival guide of tips on how you can make it through this season without &nbsp;becoming a member of the walking dead. We have up-to-the-minute Zombie&nbsp;survival&nbsp;tips and sighting updates.&nbsp;<br></p><p><br></p>
 <iframe src="http://www.youtube.com/embed/ALaUR1qEOlY?wmode=transparent" width="420" height="315"  frameBorder="2" ></iframe>
  


